$o-color-1: #4e0e14;
$o-color-2: #936546;
$o-color-3: #eee4d9;
$o-color-4: #fff9f1;
$o-color-5: #d5c7bb;

$primary: #4e0e14;
$secondary: #936546;
$body-bg: #eee4d9;
$body-color: #5f3b2c;
$headings-color: #4e0e14;
$link-color: #4e0e14;
$link-hover-color: #936546;
$border-color: #d5c7bb;

$font-family-sans-serif: "Pideco Hanken", "Noto Sans CJK SC", "Microsoft YaHei", "PingFang SC", Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-font-family: $font-family-sans-serif;

$btn-border-radius: 999px;
$btn-border-radius-sm: 999px;
$btn-border-radius-lg: 999px;
$btn-padding-y: .85rem;
$btn-padding-x: 2rem;
$btn-font-size: .8rem;
